*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
body{
    background:#0b0620;
    color:white;
}
.navbar{
    height:80px;
    background-size:cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 60px;
}
.logo{
  font-size:28px;
  font-weight:bold; 
}
.logo span{ 
    color:#ff2fa0; 
}
.nav-links{
      color:white;
  text-decoration:none;
  margin:0 12px;
  font-size:14px;
}
.subscribe-btn{
    padding:8px 18px;
    border-radius: 20px;
    border:none;
    background:linear-gradient(45deg,#ff2fa0,#ffb347);
    color:white;
    cursor:position;
}
 .banner {
      height: 600px;
      background-image: url(../assets/hero-bg.png);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
