*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
body{
    background:#0b0620;
    color:white;
}
.navbar{
    height:80px;
    background-size:cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:0 60px;
}
.logo{
  font-size:28px;
  font-weight:bold; 
}
.logo span{ 
    color:#ff2fa0; 
}
.nav-links{
      color:white;
  text-decoration:none;
  margin:0 12px;
  font-size:14px;
}
.subscribe-btn{
    padding:8px 18px;
    border-radius: 20px;
    border:none;
    background:linear-gradient(45deg,#ff2fa0,#ffb347);
    color:white;
    cursor:position;
}
 .banner {
      height: 600px;
      background-image: url(../assets/hero-bg.png);
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .circle{
        width:350px;
        height:350px;
        border-radius: 50%;
        background-image: url(../assets/hero-circle.png);
        background-size: cover;
        background-position: center;
        position:relative;
        display:flex;
        align-items:center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .mic{
        width:100px;
        height:100px;
        background-image: url(../assets/microphone.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .new-badge{
        position:absolute;
        top:-1px;
        right:-16px;
        background: #00ff9c;
        color:black;
        font-size:12px;
        padding: 4px 10px;
        border-radius:12px;
        font-weight:bold;
    }
    .banner h1{
        font-size:48;
        margin-top: 10px;
    }
    .banner p{
        font-size: 14px;
        color:#ccc;
        margin:10px 0 20px;
    }
    .buttons button{
        padding: 10px 20px;
        border-radius: 20px;
        border:none;
        margin:0 5px;
        cursor:pointer;
    }
    .spotify{
        background-image: url(../assets/spotify.png);
        background-repeat: no-repeat;
        background-position:0cap ;
        border-radius: 12px ;
        color:white;
    }
    .sub{
        background: transparent;
        color:#00ff9c;
        border:1px solid #00ff9c;
    }
    .about{
        padding:80px  40px;
        text-align: center;
        background: linear-gradient(180deg, #1a0b2e, #0b0620);
    }
    .about h2{
        font-size: 36px;
        margin-bottom: 20px;
        
    }
    .about p{
        max-width:700px;
        margin:0 auto 20px;
        color:#ccc;
        font-size: 14px;
        line-height: 1.6;
    }
    .line{
        width:80%;
        height:1px;
        background: #2a1b4a;
        margin: 40px auto;
    }
    .stats{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap
    }
    .stat{
        margin:20px;
    }
    .stat h3{
        color:#00ff9c;
        font-size:32px;
        margin-bottom: 6px;
        font-weight:bold;
    }
    .stat span{
        font-size: 12px;
        color:#aaa;
        letter-spacing:1px;
    }
    .why{
        max-width: 1000px;
        margin:40px auto;
        padding: 20px;
    }
    .why h2{
        text-align:center;
        margin-bottom:30px;
        font-size: 48px;
         font-weight:bold;
    }
    .cards{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
    }
  
    .card-1{
        background: #2b0f4f;
        padding:20px;
        border-radius:12px; 
        grid-column: span 2;
            
    }
    .card-2{
        background: #2b0f4f;
        padding:20px;
        border-radius:12px; 
            grid-column: span 2;
    }
    .card h3{
        margin-bottom:10px;
        color:#ff4ecd;
    }
    .big{
         grid-row: span 2;
            background: #2b0f4f;
        padding:50px;
        border-radius:12px; 
    }
    .wide{
        grid-column: span 2 ;
         background: #2b0f4f;
         border-radius:12px; 
         padding:40px;
    }
    .card-3{
        background: #2b0f4f;
        padding:20px;
        border-radius:12px;
    }

.featured h2{
 text-align:center;
        margin-bottom:30px;
        font-size: 48px;
         font-weight:bold;
}
    .podcast{
        display:flex;
        gap:20px;
        justify-content: center;
        margin-top: 30px;
    }
    .podcast-1{
        background:#2a1459;
        width:380px;
        height:440px;
        padding:15px;
        border-radius: 15px;
        text-align:left;
    }
    .video-1{
        width:345px;
        height:214px;
        overflow:hidden;
        border-radius: 10px;
    }
    .podcast-1 h3{
        font-size: 24px;
        font-weight: bold;
        padding:10px;
    }
     .podcast-1 p{
        font-size: 16px;
        padding:12px;
     }
     .time{
        display:flex;
        color:#00FF88;
         width:20px;
        height:20px;

        
     }
   

    .podcast-1 h3{
        margin:10px o;
    }

    .host {
  padding: 40px;
  text-align: center;
}

.host-card {
  background: #2a1459;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.host-card img {
  border-radius: 50%;
}

.footer {
  background-image: url(../assets/footer-bg.png)
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  color: white;
  text-align: center;
}

.footer-content {
  background: rgba(20, 5, 45, 0.8); 
  padding: 60px 20px;
  border-radius: 20px;
}

.logo {
  font-size: 48px;
  margin-bottom: 20px;
}

.logo span {
  color: #ff3cc7;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.socials a {
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

.socials a:hover {
  color: #fff;
}

.footer p {
  font-size: 13px;
  color: #bbb;
}

    
    

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}
    @media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .big,
  .wide {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
}
